%html
  %head
    %link(type='text/css' rel='stylesheet' href='main.css')
  %body
    %h1 MySpellBook 
    %dl
      %dt What is it?
      %dd A web page to help you with your pathfinder spells.
      %dt How do I use it?
      %dd
        %ol
          %li 
            Install 
            %a(href='http://gears.google.com/') Google Gears
          %li
            Click 
            %a(href='spellbook.html') Spellbook!
          %li Rejoice!
      %dt Who made this sweet sweet app?
      %dd Matt Hartzler, lover and ninja.  Enjoy!

							

