.level(id="level-#{level}")
  %a(id="a-#{level}")
    %h3== Level #{level}
  %h4.memorized_header
    %span.toggle -
    Memorized
    (
    %span.memorized_count 0 
    )
  .memorized_spells
  .endlevel
  %h4.known_header
    %span.toggle -
    Known 
    (
    %span.known_count 0
    )
  .known_spells
  .endlevel
  %h4.all_header 
    %span.toggle -
    All
  .all_spells
    - spells.each do |spell|
      = partial.render(spell)
  .endlevel
