%html
  %head
    %link(href="bootstrap-1.0.0.css" rel="stylesheet" type="text/css")
    %link(href="spellbook.less" rel="stylesheet" type="text/css")
    %script(src="jquery.js")
    %script(src="gears_init.js")
    %script(src="spellbook.js")
    %script(src="less.js")
  %body
    #header
      Spellbook:
      %select(id='book')
        %option main
        %option secondary
        %option scrolls
      %a(href='spellbook.html') Wizard
      |
      %a(href='druid.html') Druid
      \::::
    #controls
      Filter:
      %select(id='view')
        %option memorized
        %option known
        %option all
      Show:
      - [:abjuration,:conjuration,:enchantment,:evocation,:divination,:illusion,:necromancy,:transmutation,:universal].each do |school|
        = school
        %input(type="checkbox" value=school class=school checked=true)
    #links
      Level: 
      - (0..9).each do |level|
        %a(href="#a-#{level}")= level
    #spells
      = open("spells.partial"){|f| f.read}
    #footer
      %a.import(href='#') Import
      |
      %a.export(href='#') Export
      .state
        %textarea#state
